.reel {
    height: 100vh;
    object-position: top;
    object-fit: cover;
}
.profile {
    display: flex;
    padding: 0 10px;
    justify-content: flex-start;
    align-items: center;
    img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }
    span {
        font-size: 12px;
        margin-left: 5px;
    }
    .dot {
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background: #ffffff;
        margin: 0 5px;
    }
}
.description {
    font-size: 12px;
    text-align: start;
    padding: 10px 10px 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.header {
    --background: rgb(0, 0, 0);
    --background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 35%, rgba(255, 255, 255, 0) 100%);
    --border-color: none;
    // --opacity: 0;
    position: fixed;
    ion-title,
    ion-icon {
        --color: #ffffff;
    }
}
.foot-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 35%, rgba(255, 255, 255, 0) 100%);
    ion-toolbar {
        --background: transparent;
        ion-button {
            --padding-top: 0;
            --padding-end: 0;
            --padding-bottom: 0;
            --padding-start: 0;
        }
        .main {
            ion-button {
                width: 30px;
                height: 30px;
                font-size: 10px;
            }
        }
        .second {
            ion-button {
                font-size: 8px;
                height: 30px;
                font-size: 10px;
            }
        }
    }
}
