<ion-header>
  <ion-toolbar class="home-header" mode="ios">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" icon="../../../../assets/icon/collapse-plus.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Instagram </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" icon="../../../../assets/icon/messenger.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <app-status></app-status> -->


  <ion-card *ngFor="let item of list">
    <ion-toolbar>
      <ion-buttons slot="start">
        <img class="profile" [src]="item.download_url" alt="" srcset="">
      </ion-buttons>
      <ion-title>{{item.author}} </ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <img [src]="item.download_url" alt="" srcset="">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-card-content>
      <div class="likes">200 likes</div>
      <div class="comment">
        <img src="../../../../assets/images/profile.jpg" alt="" srcset="">
        <p>Add a comment ...</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>