@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

ion-header {
    ion-title {
        font-family: "Cookie", cursive;
        font-size: 1.8rem;
        letter-spacing: 2px;
    }
}

ion-card > * {
    font-size: 12px;
}
.card-content-md {
    padding-top: 0;
}
.comment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0;
    img {
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
    p {
        font-size: 12px;
        margin-left: 8px;
    }
}
.profile {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.home-header {
    ion-button {
        width: 30px;
        height: 30px;
    }
}
